<div class="control-section e-tab-section">
  <div class="e-sample-resize-container">
    <ejs-tab id="element">
      <e-tabitems>
        <e-tabitem>
          <ng-template #headerText>
            <div>Tabla</div>
          </ng-template>
          <ng-template #content>
            <ejs-kanban
              #kanbanObj
              keyField="Status"
              [dataSource]="data"
              [cardSettings]="cardSettings"
              (queryCellInfo)="queryCellInfoHandler($event)"
            >
              <e-columns>
                <e-column headerText="To do" keyField="Open"> </e-column>
                <e-column
                  headerText="In Progress"
                  keyField="InProgress"
                ></e-column>
                <e-column headerText="Testing" keyField="Testing"> </e-column>
                <e-column headerText="Done" keyField="Close"></e-column>
              </e-columns>
            </ejs-kanban>
          </ng-template>
        </e-tabitem>
      </e-tabitems>
    </ejs-tab>
  </div>
</div>
